@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    border-bottom: solid 1px rgb(18, 87, 81);
    margin-bottom: 20px;
    
}
.nav-menu{
    color: rgb(18, 87, 81);;
    margin-left: -200px;
    top: 55px;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
}
.nav-menu .logo{
    color: rgb(17, 49, 47);;
}

.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a {
    color: #3a6cf4;
    text-decoration: none;
    font-size:1.1em ;
    font-weight:800 ;
    padding-left: 30px;
}
.navigation a:hover {
   color: #601cfc;
}


.content{
    position: absolute;
    width: 600px;
    height: 600px;
    background: #f0f0f0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: solid 10px rgb(18, 87, 81);
}
.face{
    position: relative;
    height: 280px;
    width: 200px;
    border: solid 4px black;
    background: #fed90f;
    top: 100px;
    left: 180px;
    transform: rotate(-2deg);
    z-index: 1;
    border-bottom-right-radius: 20px;
    border-top: none;
}
.ear{
    position:absolute;
    top: 288px;
    left: 150px;
    border: solid 4px black;
    border-right: none;
    border-bottom: none;
    height: 55px;
    width: 50px;
    background: #fed90f;
    border-radius: 50%;
    transform: rotate(-40deg);
    z-index: 5;
}

.ear>div:nth-child(1){
    position: relative;
    height: 30px;
    width: 30px;
    border-top: solid 5px black;
    border-radius: 50%;
    left: 10px;
    top: 10px;
}
.ear>div:nth-child(2){
    position: relative;
    height: 30px;
    width: 30px;
    border-top: solid 5px black;
    border-radius: 50%;
    left: 20px;
    top: -20px;
    transform: rotate(-80deg);
}
.forhead{
    position: relative;
    border: solid 4px black;
    border-bottom: none;
    border-right: none;
    border-radius: 50% 1% 1% 0;
    width: 15px;
    height: 15px;
    background: #fed90f;
    transform: rotate(132deg);
    bottom: 112px;
    left: 375px;
    z-index: 2;
}
.nose{
    position: relative;
    width: 100px;
    height: 40px;
    border: solid 4px black;
    border-left: none;
    border-radius: 0 25px 25px 5px;
    top: -50px;
    left: 264px;
    transform: rotate(-4deg);
    background: #fed90f;
    z-index: 10;
}
.nose::after{
    content: "";
    position: absolute;
    height: 25px;
    width: 50px;
    background: #fed90f;
    top: 30px;
}
.eye{
    position: relative;
    height: 85px;
    width: 90px;
    background: #fff;
    border: solid 4px black;
    border-radius: 50%;
    bottom: 261px;
    left: 233px;
    z-index:15;
}
.eye::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background:black;
    border: solid 4px black;
    border-radius: 50%;
    top: 27px;
    left: 27px;
}
.eye1{
    position: relative;
    height: 85px;
    width: 85px;
    background: #fff;
    border: solid 4px black;
    border-radius: 50%;
    bottom: 167px;
    left: 313px;
    z-index:5;
}
.eye1::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background:black;
    border: solid 4px black;
    border-radius: 50%;
    top: 26px;
    left: 47px;
}
.hair>div:nth-child(1){
    position: relative;
    width: 15PX;
    height: 15PX;
    border: solid 2px black;
    left: 150px;
    border-bottom: none;
    border-right: none;
    background: #fed90f;
    transform: matrix(1,4,-1,4,34 ,3);
    bottom: 441px;
    border-radius: 23% 0 0 0 ;
}
.hair>div:nth-child(2){
    position: relative;
    width: 15PX;
    height: 15PX;
    border: solid 2px black;
    left: 150px;
    border-bottom: none;
    border-right: none;
    background: #fed90f;
    transform: matrix(1,4,-1,4,60 ,-0);
    bottom: 459px;
    border-radius: 30% 0 0 0 ;
}
.hair>div:nth-child(3){
    position: relative;
    width: 15PX;
    height: 15PX;
    border: solid 2px black;
    left: 150px;
    border-bottom: none;
    border-right: none;
    background: #fed90f;
    transform: matrix(1,4,-1,4,90 ,-0);
    bottom: 476px;
    border-radius: 40% 0 0 0 ;
}
.hair>div:nth-child(4){
    position: relative;
    width: 15PX;
    height: 15PX;
    border: solid 2px black;
    left: 150px;
    border-bottom: none;
    border-right: none;
    background: #fed90f;
    transform: matrix(1,4,-1,4,120 ,-0);
    bottom: 498px;
    border-radius: 35% 0 0 0 ;
}
.hair>div:nth-child(5){
    position: relative;
    width: 15PX;
    height: 15PX;
    border: solid 2px black;
    left: 150px;
    border-bottom: none;
    border-right: none;
    background: #fed90f;
    transform: matrix(1,4,-1,4,150 ,-0);
    bottom: 512px;
    border-radius: 30% 0 0 0 ;
}
.hair>div:nth-child(6){
    position: relative;
    width: 15PX;
    height: 15PX;
    border: solid 2px black;
    left: 150px;
    border-bottom: none;
    border-right: none;
    background: #fed90f;
    transform: matrix(1,4,-1,4,180 ,-0);
    bottom: 531px;
    border-radius: 30% 0 0 0 ;
}
.hair>div:nth-child(7){
    position: relative;
    width: 15PX;
    height: 15PX;
    border: solid 2px black;
    left: 150px;
    border-bottom: none;
    border-right: none;
    background: #fed90f;
    transform: matrix(1,4,-1,4,208 ,4);
    bottom: 547px;
    border-radius: 30% 0 0 0 ;
}
.mouth{
    position: absolute;
    width: 95px;
    height: 25px;
    border: 4px solid black;
    border-left: none;
    background:#fed90f;
    bottom: 191px;
    left: 223px;
    transform: rotate(-2deg);
    border-bottom: none;
    border-top: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 7px;
    z-index: 2;
}
.mouth::after{
    content: "";
    position: absolute;
    height: 25px;
    width: 24px;
    border: solid 4px transparent;
    border-left: solid 4px black;
    border-radius: 47%;
    top: -18px;
    left: 10px;
    z-index: 100;
}

.neck{
    position: absolute;
    width: 116px;
    height: 50px;
    border: solid 4px black;
    border-top: none;
    background: #fed90f;
    transform: rotate(-2deg);
    bottom: 162px;
    left: 186px;
    bottom: 170px;
    left: 186px;
    border-bottom: none;
}
.neck::before{
    content: "";
    height: 40px;
    width: 60px;
    border: solid 1px transparent;
    background: #fed90f;
}
.hide{
    position: absolute;
    width: 43px;
    height: 14px;
    background: #fed90f;
    bottom: 208px;
    left: 189px;
    z-index: 5;
    transform: rotate(-2deg);
}

.details{
    display: flex;
    position: absolute;
    background: #f0f0f0;
    height: 180px;
    width: 700px;
    top: 110%;
    left: 50%;
    transform: translate(-50% , 0%);
    border-radius: 25px;
    border: solid 8px rgb(18, 87, 81);
    justify-content: center; 
    align-items: center;
    flex-direction: column;

}
.details p{
    padding: 10px;
}
.details>p:nth-child(1){
    padding-top: 0px;
    font-size: x-large;
}
.global{
    background: rgb(33, 126, 118);
    width: 100%;
    height: 150vh;
}